spring:
  application:
    name: order-service
  datasource:
    url: ${SUPABASE_DB_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#  # Kafka properties.
#  kafka:
#    bootstrap-servers:
#      - localhost:9092
#    template:
#      default-topic: notification.message
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#      properties:
#        spring:
#          json:
#            type:
#              mapping: event:com.edukart.order.event.Message

server:
  port: 8080

#eureka:
#  client:
#    service-url:
#      default-zone: http://localhost:8761