spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: ${MONGO_URI}

server:
  port: 8081

#eureka:
#  client:
#    service-url:
#      default-zone: http://localhost:8761

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}