spring:
  application:
    name: cart-service
  datasource:
    url: ${NEON_DB_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 0

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761